ProjetoFinal/flows(4).json
[
    {
        "id": "5e6f98fdf30dfe12",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a0c8df5435724ae",
        "type": "http in",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "url": "/perfilsalvar",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "9681f8ec115fe35f"
            ]
        ]
    },
    {
        "id": "7030206175dbbf0b",
        "type": "http response",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "8c6147109e6c6a41",
        "type": "debug",
        "z": "5e6f98fdf30dfe12",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 160,
        "wires": []
    },
    {
        "id": "af99ee63ce5b7bb2",
        "type": "http in",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "url": "/perfiller",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "73f883b252d9c9a4"
            ]
        ]
    },
    {
        "id": "c481cabb924e91a1",
        "type": "http response",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "7983e0ed7ff893a3",
        "type": "debug",
        "z": "5e6f98fdf30dfe12",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "1d38f25075341728",
        "type": "http in",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "url": "/perfilatualisar",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "84d9f48b9f91abdd"
            ]
        ]
    },
    {
        "id": "b3fd4b66189580f4",
        "type": "http response",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "1f1f053c38462383",
        "type": "debug",
        "z": "5e6f98fdf30dfe12",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 660,
        "wires": []
    },
    {
        "id": "3821a9307cb957c6",
        "type": "http in",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "url": "/perfildeletar",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "e31f984b29af56cc"
            ]
        ]
    },
    {
        "id": "6979dbd33587590f",
        "type": "http response",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 800,
        "wires": []
    },
    {
        "id": "b9de164e9fc9f8bf",
        "type": "debug",
        "z": "5e6f98fdf30dfe12",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 920,
        "wires": []
    },
    {
        "id": "107a7db83b865977",
        "type": "comment",
        "z": "5e6f98fdf30dfe12",
        "name": "Create",
        "info": "",
        "x": 50,
        "y": 100,
        "wires": []
    },
    {
        "id": "50575ccfa5ba244a",
        "type": "comment",
        "z": "5e6f98fdf30dfe12",
        "name": "Read",
        "info": "",
        "x": 50,
        "y": 260,
        "wires": []
    },
    {
        "id": "6f2195024f51ed08",
        "type": "comment",
        "z": "5e6f98fdf30dfe12",
        "name": "Update",
        "info": "",
        "x": 50,
        "y": 520,
        "wires": []
    },
    {
        "id": "8e74978c363d3b5c",
        "type": "comment",
        "z": "5e6f98fdf30dfe12",
        "name": "Delete",
        "info": "",
        "x": 50,
        "y": 760,
        "wires": []
    },
    {
        "id": "73f883b252d9c9a4",
        "type": "cloudantplus in",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "cloudant": "4e9f95d74ddb3a8d",
        "database": "perfilprojeto",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "c481cabb924e91a1",
                "7983e0ed7ff893a3"
            ]
        ]
    },
    {
        "id": "84d9f48b9f91abdd",
        "type": "cloudantplus out",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "cloudant": "4e9f95d74ddb3a8d",
        "database": "perfilprojeto",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "b3fd4b66189580f4",
                "1f1f053c38462383"
            ]
        ]
    },
    {
        "id": "e31f984b29af56cc",
        "type": "cloudantplus out",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "cloudant": "4e9f95d74ddb3a8d",
        "database": "perfilprojeto",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 550,
        "y": 760,
        "wires": [
            [
                "6979dbd33587590f",
                "b9de164e9fc9f8bf"
            ]
        ]
    },
    {
        "id": "879f140f03a8a4b0",
        "type": "cloudantplus out",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "cloudant": "4e9f95d74ddb3a8d",
        "database": "perfilprojeto",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 790,
        "y": 60,
        "wires": [
            [
                "7030206175dbbf0b",
                "8c6147109e6c6a41"
            ]
        ]
    },
    {
        "id": "da1da569b391f479",
        "type": "split",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "splt": "/n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 530,
        "y": 40,
        "wires": [
            [
                "879f140f03a8a4b0"
            ]
        ]
    },
    {
        "id": "9681f8ec115fe35f",
        "type": "switch",
        "z": "5e6f98fdf30dfe12",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "da1da569b391f479"
            ],
            [
                "879f140f03a8a4b0"
            ]
        ]
    },
    {
        "id": "4e9f95d74ddb3a8d",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1wqtkdecj91p0xubqpub22zkz98dy0ez8qp8bw9b6tx:9677f52c2107fc5f105e98c7035acacf@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    }
]